<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<!-- 서블릿 S  -->
	<servlet>
		<servlet-name>InsertMember</servlet-name>
		<servlet-class>com.controller.InsertMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MainMember</servlet-name>
		<servlet-class>com.controller.MainController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMember</servlet-name>
		<servlet-class>com.controller.DeleteController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertMember</servlet-name>
		<url-pattern>/member/insert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainMember</servlet-name>
		<url-pattern>/member/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMember</servlet-name>
		<url-pattern>/member/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/member/login</url-pattern>
	</servlet-mapping>
	<!--  서블릿 E  -->
</web-app>